# Students Do: Understanding customers

## Instructions

You are given a dataset that contains historical data from purchases of an online store made by 200 customers. In this activity you will put in action your data preprocessing superpowers, also you'll add some new skills needed to start finding customers clusters.

In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
file_path = Path("../Resources/shopping_data.csv")

Load the data into a Pandas DataFrame, name it as `df_shopping` and fetch the top 10 rows.

In [19]:
df_shopping = pd.read_csv(file_path)
df_shopping.head()

   CustomerID Previous Shopper  Age  Annual Income  Spending Score (1-100)
0           1              Yes   19          15000                      39
1           2              Yes   21          15000                      81
2           3               No   20          16000                       6
3           4               No   23          16000                      77
4           5               No   31          17000                      40

List the DataFrame's data types to ensure they're aligned to the type of data stored on each column.

In [20]:
df_shopping.dtypes

CustomerID                 int64
Previous Shopper          object
Age                        int64
Annual Income              int64
Spending Score (1-100)     int64
dtype: object

**Question 1:** Is there any column whose data type need to be changed? If so, make the corresponding adjustments.

**Question 2:** Is there any unnecessary column that needs to be dropped? If so, make the corresponding adjustments.

In [21]:
df_shopping=df_shopping.drop(columns=["CustomerID"])
df_shopping.head()

  Previous Shopper  Age  Annual Income  Spending Score (1-100)
0              Yes   19          15000                      39
1              Yes   21          15000                      81
2               No   20          16000                       6
3               No   23          16000                      77
4               No   31          17000                      40

In [22]:
for column in df_shopping.columns:
    print(f"Column{column} has {df_shopping[column].isnull().sum()} null values")

ColumnPrevious Shopper has 0 null values
ColumnAge has 0 null values
ColumnAnnual Income has 0 null values
ColumnSpending Score (1-100) has 0 null values

In [23]:
## Find duplicates
print(f"Duplicate entries:{df_shopping.duplicated().sum()}")

Duplicate entries:0

In [24]:
## Transform string column
def labelEncodeStatus(status):
    if status=="Yes":
        return 1
    return 0
    
df_shopping["Previous Shopper"]=df_shopping["Previous Shopper"].apply(labelEncodeStatus)
df_shopping.head()

   Previous Shopper  Age  Annual Income  Spending Score (1-100)
0                 1   19          15000                      39
1                 1   21          15000                      81
2                 0   20          16000                       6
3                 0   23          16000                      77
4                 0   31          17000                      40

In [25]:
df_shopping["Annual Income"]=df_shopping["Annual Income"]/1000
df_shopping.head()

   Previous Shopper  Age  Annual Income  Spending Score (1-100)
0                 1   19           15.0                      39
1                 1   21           15.0                      81
2                 0   20           16.0                       6
3                 0   23           16.0                      77
4                 0   31           17.0                      40

In [26]:
file_path = "shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)